{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": "as-needed",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never"
    }],
    "no-param-reassign": "off",
    "no-plusplus": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  }
}
