doctype
html
head

body
  main
    ul
      li: router-link(to='/') go to root
      li: router-link(to='/foo') go to foo
      li: router-link(to='/foo/bar') go to bar
      li: router-link(to='/user/123') go to user

    router-view

