main
  div(v-if='loading') loading
  div {{count}}
  form(@submit='increment($event)')
    div
      input(type='number', v-model='amount', autofocus)
    div
      button(@click='increment', type='submit') increment by {{ amount }}
